{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
<h1> ЗДОРОВЬЕ — ЭТО ПРОЦЕСС, А НЕ ЦЕЛЬ. ФИТНЕС – ЭТО ПРОСТО. ЗОЖ – ЭТО ВЕСЕЛО.</h1>
<p>Портал «ЗОЖ – это весело» создается для объединения  людей желающих быть здоровыми и красивыми, 
    старающихся вести ЗОЖ, которым нужна интересная, полезная и полезная информация о тренировках, 
    ПП, безопасных процедурах, а так же  помощь в выработке здоровых привычек или отказе от вредных, 
    и для людей желающих поделиться этими знаниями. Портал  «ЗОЖ – это весело» позволит подобрать 
    оптимальный по времени и с точки зрения пользы тур, во время которого произойдет трансформация 
    мыслей и тела под чутким руководством учителя. Поможет найти своего консультанта по интересующим 
    вопросом и совершенствовать себя круглый год как офлайн так и онлайн без стресса и вреда для здоровья.
     В отличии от узконаправленных сайтов, портал будет размещать информацию по различным видам фитнеса, 
     современной безопасной косметологии,  расскажет о подходах к ПП. Наш портал объединит людей, стремящихся 
     к здоровому образу жизни, красоте и гармонии.
       </p>
</div>       
{% endblock %}
		
	