*{margin:0;padding:0;}

body {
    background-image: url(../Images/background2.jpg); /*рисунок фона*/
    background-attachment:fixed; /*фиксация фона*/
    background-size: cover; /*фон на всю страницу*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Arial';
    line-height: 14px;
    width: 100%;
 
   } 
   header {height:50px;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
}
  .wrapper {margin:auto;
      position: relative;
      clear:both;
       min-width:980px;
             flex-wrap: wrap;
       justify-content: center;} 

    
.menu, .menu_children {list-style:none;/*без маркировки*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;

} 
.menu_parent{
    position: relative;
      flex-wrap: wrap;
justify-content: space-between; 
}
.menu_children{
    position: absolute;
    left: 5px;
    top: 15px;
    display: block;
    visibility: hidden; /*скрыть */
    line-height: 20px;
}
nav ul li {float:left;margin:auto; font-size:20px; font-family:'Georgia'; font-style:italic; justify-content: space-between;}
nav ul li a {color:#000000; text-decoration:none;}
nav ul li a:hover {
    transition: transform .2s;
    transform: scale(3); /* Увеличиваем масштаб */
    color: rgb(56, 155, 16);}
    nav ul li:hover .menu_children{
        visibility: visible;
    }
   
*main{
    margin: 0;
    padding: 0;
    width: 90%;
    height: 900px;
    background: #FFFFFF;
    align-self: center; /*размещение по центру экрана */
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
}