{% extends 'base.html' %}
{% block content %}
{% if user_name and user_surname %}
<h1>hello:{{user_name}} {{user_surname}}</h1>
<p></p>
{% else %}
<h>Пожалуйста, введите имя и фамилию, заполнить нужно оба поля</h>
{% endif %}
    <form method="post">
  <br>
    {{ form.csrf_token }}
    {{ form.userNameField }}
    {{form.userSurnameField}}
    <input type="submit" name="">
    <br>
    </form>
    <br>
    <pre>Фамилия Имя          Дата рождения       Телефон           Email </pre>
    <br>
     {% for Client in Clients %}
     <pre>{{Client.IdClient}} {{Client.Surname}}  {{Client.Name}}     {{Client.DateOfBirth}}      {{Client.PhoneNumber}}  {{Client.Email}}
    </pre>
    <br>
   {% endfor %} 
{% endblock %}
		
	